.artwork__overlay {
    position: absolute;
    width: calc(100% - (8px * 2));
    height: calc(100% - (8px * 2));
    left: 0;
    top: 0;
    -webkit-transform: translate(8px, 8px);
        -ms-transform: translate(8px, 8px);
            transform: translate(8px, 8px);
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.artwork:hover .artwork__overlay {
    display: block;
}
.btn-more {
    background-color: #FFFFFF;
    position: relative;
    color: #000;
    font-size: 18px;
    padding: 4px 48px;
    border: none;
    border-radius: 0px;
    font-family: "Squada One", cursive;
}