.explore {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 170px;
    @include mobile {
        padding-bottom: 48px;
    }
    &-button {
        &:hover {
            a {
                background-color: #E6553B;
                color: #FFFFFF;
                .button-triangle {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 0 16px 16px;
                    border-color: transparent transparent #000000 transparent;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
    &-item-1{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 358px;
        @include mobile {
            height: 191px;
        }
        img {
            height: 258px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 139px;
            }
        }
    }
    &-item-2{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 375px;
        @include mobile {
            height: 203px;
        }
        img {
            height: 327px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 151px;
            }
        }
    }
    &-item-3{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 302px;
        @include mobile {
            height: 145px;
        }
        img {
            height: 254px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 93px;
            }
        }
    }
    &-item-4{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 273px;
        @include mobile {
            height: 225px;
        }
        img {
            height: 169px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 173px;
            }
        }
    }
    &-item-5{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 358px;
        @include mobile {
            height: 237px;
        }
        img {
            height: 254px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 185px;
            }
        }
    }
    &-item-6{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 499px;
        @include mobile {
            height: 191px;
        }
        img {
            height: 395px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 139px;
            }
        }
    }
    &-item-7{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 278px;
        @include mobile {
            height: 244px;
        }
        img {
            height: 174px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 192px;
            }
        }
    }
    &-item-8{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 358px;
        @include mobile {
            height: 151px;
        }
        img {
            height: 254px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 99px;
            }
        }
    }
    &-item-9{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 444px;
        @include mobile {
            height: 224px;
        }
        img {
            height: 340px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 160px;
            }
        }
    }
    &-item-10{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 382px;
        @include mobile {
            height: 237px;
        }
        img {
            height: 334px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 173px;
            }
        }
    }
    &-item-11{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 358px;
        @include mobile {
            height: 149px;
        }
        img {
            height: 254px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 97px;
            }
        }
    }
    &-item-12{
        h2 {
            font-weight: bold;
            border-bottom: 1px solid #000000;
            @include mobile {
                font-weight: normal;
                border-bottom: none;
            }
        }
        height: 374px;
        @include mobile {
            height: 226px;
        }
        img {
            height: 326px;
            @include pad {
                width: 100%;
            }
            @include mobile {
                height: 174px;
            }
        }
    }
}
.artwork__overlay {
    position: absolute;
    width: calc(100% - (8px * 2));
    height: calc(100% - (8px * 2));
    left: 0;
    top: 0;
    -webkit-transform: translate(8px, 8px);
        -ms-transform: translate(8px, 8px);
            transform: translate(8px, 8px);
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.artwork:hover .artwork__overlay {
    display: block;
}
.btn-more {
    background-color: #FFFFFF;
    position: relative;
    color: #000;
    font-size: 18px;
    padding: 4px 48px;
    border: none;
    border-radius: 0px;
    font-family: "Squada One", cursive;
}

