.introduce {
    &-layout {
        margin-top: 40px;
        margin-bottom: 80px;
        @include pad {
            width: 738px;
        }
    }
    &-artist {
        padding-top: 40px;
        padding-bottom: 81px;
        background-color: #F0F0F0;
        @include pad {
            padding-bottom: 40px;
        }
        @include mobile {
            padding-top: 24px;
        }
        &-icon {
            a {
                color: #000000;
                &:hover {
                    color: #E6553B;
                }
            }
        }
        &-box {
            display: flex;
            justify-content: center;
            column-gap: 24px;
            @include pad {
                justify-content: center;
            }
            @include mobile {
                padding: 0 12px;
            }
        }
        &-card {
            width: 966px;
            outline: 1px solid #000000;
            display: flex;
            @include pad {
                width: 738px;
            }
            @include mobile {
                display: flex;
                flex-direction: column;
            }
        }
        &-img {
            img {
                width: 416px;
                height: 264px;
                @include pad {
                    width: 100%;
                }
            }
        }
        &-text {
            background-color: #FFFFFF;
            width: 550px;
            padding: 24px;
            @include mobile {
                width: 100%;
            }
            h3 {
                font-size: 48px;
                line-height: 50px;
                @include mobile {
                    font-size: 32px;
                    line-height: 34px;
                }
            }
            h4 {
                line-height: 17px;
            }
        }
        &-table {
            background-color: #FFFFFF;
            width: 306px;
            border: 1px solid #000000;
            @include pc {
                margin-top: 48px;
                width: 96%;
            }
            @include pad {
                width: 96%;
                margin-top: 48px;
            }
            @include mobile {
                margin-top: 16px;
            }
            @include mobile {
                width: 1005px;
            }
            &-item {
                padding: 21px 24px;
                border-bottom: 1px solid #000000;
                span {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }
    }
    &-tab {
        background-color: #F0F0F0;
        &-item {
            margin-top: 40px;
            background-color: #FFFFFF;
            border: 1px solid #000000;
            padding-left: 110px;
        }
        &-button {
            display: flex;
            justify-content: flex-end;
            bottom: 48px;
            right: 86px;
            a {
                font-family: Squada One;
                display: inline-block;
                padding: 8px 48px;
                color: #000000;
                border: 1px solid #000000;
            }
        }
        &-text {
            width: 73.5%;
            padding: 48px 0;
            display: flex;
            h3 {
                font-size: 24px;
                line-height: 35px;
            }
        }
        &-img {
            display: flex;
            column-gap: 8px;
            bottom: -48px;
            img {
                width: 263px;
                height: 270px;
                border: 10px solid #000000;
            }
        }
    }
    &-artworks {
        border-bottom: 1px solid #000000;
        background-color: #F0F0F0;
        &-box {
            width: 100%;
            @include pad {
                padding: 0 12px;
            }
            @include mobile {
                padding: 0;
            }
        }
        &-title {
            padding-top: 48px;
            width: 856px;
        }
        &-card {
            border: 1px solid #000000;
            margin-top: 40px;
            margin-bottom: 88px;
            background-color: #FFFFFF;
            padding-left: 110px;
            @include pad {
                padding-left: 0;
                padding: 0 12px;
            }
            @include mobile {
                width: 100%;
            }
            h3 {
                font-size: 24px;
                line-height: 35px;
            }
            &-mobile {
                margin-top: 24px;
                width: 336px;
                border: 1px solid #000000;
                background-color: #FFFFFF;
                padding: 32px 16px;
                h3 {
                    font-size: 24px;
                    line-height: 35px;
                }
                img {
                    width: 304px;
                    height: 313px;
                    border: 10px solid #000000;
                }
            }
        }
        &-list {
            display: flex;
            column-gap: 8px;
        }
        &-item {
            position: relative;
            bottom: -48px;
            img {
                border: 10px solid #000000;
                width: 263px;
                height: 270px;
                @include pad {
                    height: 180px;
                }
            }
        }
    }
    &-triangle {
        &-one{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 24px 24px 0 0;
            border-color: #000000 transparent transparent transparent;
            position: absolute;
            left: 0;
        }
        &-two {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 24px 24px 0;
            border-color: transparent #000000  transparent transparent;
            position: absolute;
            right: 0;
        }
    }
}

.more-btn {
    margin-top: 112px;
    margin-left: 80px;
    a {
        font-size: 18px;
        line-height: 19px;
        color: #000000;
        padding: 8px 48px;
        border: 1px solid #000000;
    }
}

.nav-tabs .nav-link.active {
    color: #000000;
    h4 {
        color: #000000;
    }
    background-color: #F0F0F0;
    border: 1px solid #000000;
    border-bottom: 1px solid #F0F0F0;
}
.mb-208 {
    margin-bottom: 208px;
}
.button-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #E6553B transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.more-btn-mobile {
    a {
        padding: 8px 48px;
        border: 1px solid #000000;
        color: #000000;
        background-color: #FFFFFF;
    }
}
.mb-40 {
    margin-bottom: 40px;
}
.pb-80 {
    padding-bottom: 80px;
    @include mobile {
        padding-bottom: 48px;
    }
}
.mb-128 {
    margin-bottom: 128px;
}
.mt-40 {
    margin-top: 40px;
    @include mobile {
        margin-top: 24px;
    }
}
.artwork {
    img {
        width: 100%;
    }
}
.nav-link {
    color: #808080;
    &:hover {
        color: #000000;
    }
    h3 {
        font-family: Squada One;
        font-size: 48px;
        line-height: 50px;
        @include mobile {
            font-size: 32px;
            line-height: 34px;
        }
    }
    span {
        font-size: 20px;
        line-height: 26px;
    }
}