<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Squada+One&display=swap" rel="stylesheet">
    <!--Font-awesome icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <!--Swiper css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
  
  <section class="header">
    <div class="container-fluid border-bottom border-dark">
      <nav>
        <div class="header-box container d-lg-flex d-md-none d-none">
          <!-- LOGO -->
          <div class="header-logo">
            <h1>
              <a class="header-brand align-middle flex-grow-1" href="index.html">
                LOGO
              </a>
            </h1>
          </div>
          <div class="header-bar d-lg-flex d-md-flex d-none">
            <!-- search -->
            <div class="header-search d-flex align-items-center">
              <input
              type="text"
              class="form-control bg-transparent border-0 shadow-none"
              placeholder="搜尋作品名稱、藝術家名稱"
              aria-describedby="search-arts"
            />
              <button class="header-search-btn border-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <!-- menu -->
            <ul class="header-menu d-flex">
              <li class="header-menu-item">
                <a href="explore.html" class="fw-bold">
                  探索
                </a>
              </li>
              <li class="header-menu-item">
                <a href="ranking.html" class="fw-bold">
                  市值
                </a>
              </li>
              <li class="header-menu-item">
                <a href="#" class="wallet fw-bold ">
                  <i class="fa-solid fa-wallet fs-3"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- mobile搜尋框 -->
        <div class="header-mobile-box d-flex justify-content-between align-items-end d-lg-none">
          <div class="header-logo">
            <h1>
              <a class="header-brand align-middle flex-grow-1" href="index.html">
                LOGO
              </a>
            </h1>
          </div>
          <div class="d-flex">
            <a href="#" class="navbar-search">
              <i class="fa-solid fa-magnifying-glass text-black align-middle" style="font-size: 18px;"></i>
            </a>
            <!-- monile漢堡選單 -->
            <button
              class="header-mobile-ham"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <i class="fa-solid fa-bars text-black" style="font-size: 21px;"></i>
            </button>
          </div>
        </div>
        <!-- monile搜尋框展開 -->
        <div class="search-bar-open pt-2 fixed-top d-none">
          <div class="container">
            <div class="d-flex justify-content-center align-items-center">
              <button
                type="button"
                class="search-bar-back btn btn-link text-black shadow-none"
              >
                <i class="fa-solid fa-angle-left"></i>
              </button>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-transparent border-0 shadow-none"
                  placeholder="搜尋作品名稱、藝術家名稱"
                  aria-describedby="search-arts"
                />
                <button
                  class="btn bg-transparent border-0 shadow-none"
                  type="button"
                  id="search-arts"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white mb-0 d-lg-none">
          <div class="header-mobile-menu collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-0">
              <li class="nav-item py-4 text-center">
                <a class="fw-bold nav-link" aria-current="page" href="explore.html">
                  探索
                </a>
              </li>
              <li class="nav-item py-4 text-center">
                <a class="fw-bold nav-link" aria-current="page" href="ranking.html">
                  市值
                </a>
              </li>
              <li class="nav-item py-4 text-center">
                <a class="fw-bold nav-link" aria-current="page" href="#">
                  連結錢包
                </a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
    </div>
  </section>
  <main>
    <%- contents %>
  </main>
  <footer class="footer border-top py-2">
    <div class="border-4 border-top border-dark">
      <p class="text-center py-4 mb-0">© ART NFT. All Rights Reserved</p>
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>